@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
  @media (min-width:0px) {
    background-color: black;
    font-size: 10px;
  }
  @media (min-width:320px) {
    background-color: red;
    font-size: 20px;
  }
  @media (min-width:480px) {
    background-color: orange;
    font-size: 20px;
  }
  @media (min-width:600px) {
    background-color: yellow;
    font-size: 15px;
  }
  @media (min-width:801px) {
    background-color: green;
    font-size: 20px;
  }
  @media (min-width:1025px) {
    background-color: blue;
    font-size: 15px;
  }
  @media (min-width:1281px) {
    background-color: indigo;
    font-size: 10px;
  }
}

body {
  background-color: silver;
  font-family: 'Press Start 2P', cursive;
  line-height: 2rem;
  text-align: center;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
  &:hover {
    color: red;
  }
}

hr {
  border: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1rem;
  background: black;
  @media (min-width:0px) {
    width: 100%;
  }
  @media (min-width:320px) {
    width: 100%;
  }
  @media (min-width:480px) {
    width: 100%;
  }
  @media (min-width:600px) {
    width: 75%;
  }
  @media (min-width:801px) {
    width: 75%;
  }
  @media (min-width:1025px) {
    width: 50%;
  }
  @media (min-width:1281px) {
    width: 50%;
  }
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

table, thead, tr, th, td, tfoot, fieldset, input, textarea {
  border: 0.2rem solid black
}

thead, th{
  border-bottom-width: 0.4rem;
}

.apps-content {
  margin: 0 auto;
  background-color: white;
  @media (min-width:0px) {
    width: 100%;
  }
  @media (min-width:320px) {
    width: 100%;
  }
  @media (min-width:480px) {
    width: 100%;
  }
  @media (min-width:600px) {
    width: 75%;
  }
  @media (min-width:801px) {
    width: 75%;
  }
  @media (min-width:1025px) {
    width: 50%;
  }
  @media (min-width:1281px) {
    width: 50%;
  }
} 

.apps-header {
  color: black;
  .apps-header-title {
    font-size: 2.5rem;
  }
}

.apps-app-item {
  display: inline-block;
  width: 10rem;
  vertical-align: top;
  margin-right: 1.5rem;
}

.apps-app-icon {
  display: inline-block;
  border: 0.5rem solid white;
  border-radius: 1.5rem;
  width: 10rem;
  height: 10rem;
  padding-bottom: 0;
  overflow: hidden;
  img {
    width: 10rem;
    height: 10rem;
  }
}

.apps-app-name {
  padding-top: 1rem;
}
