//@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
//@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


@mixin screen($orientation, $width) {
  @if $width == 1 {
    $width: 0px;
  } @else if $width == 2 {
    $width: 320px;
  } @else if $width == 3 {
    $width: 480px;
  } @else if $width == 4 {
    $width: 600px;
  } @else if $width == 5 {
    $width: 801px;
  } @else if $width == 6 {
    $width: 1025px;
  } @else if $width == 7 {
    $width: 1281px;
  }
  @if $orientation == lp {
    @media (min-width: $width) {
      @content;
    }
  } @else {
    @if $orientation == p {
      $orientation: portrait;
    } @else if $orientation == l {
      $orientation: landscape;
    }
    @media (min-width: $width) and (orientation: $orientation) {
      @content;
    }
  }
}

html {
/*
  @include screen(l, 1) {
    background-color: black;
    font-size: 10px;
  }
  @include screen(l, 2) {
    background-color: red;
    font-size: 15px;
  }
  @include screen(l, 3) {
    background-color: orange;
    font-size: 15px;
  }
  @include screen(l, 4) {
    background-color: yellow;
    font-size: 15px;
  }
  @include screen(l, 5) {
    background-color: green;
    font-size: 15px;
  }
  @include screen(l, 6) {
    background-color: blue;
    font-size: 15px;
  }
  @include screen(l, 7) {
    background-color: indigo;
    font-size: 20px;
  }
  @include screen(p, 1) {
    background-color: black;
    font-size: 10px;
  }
  @include screen(p, 2) {
    background-color: red;
    font-size: 15px;
  }
  @include screen(p, 3) {
    background-color: orange;
    font-size: 15px;
  }
  @include screen(p, 4) {
    background-color: yellow;
    font-size: 15px;
  }
  @include screen(p, 5) {
    background-color: green;
    font-size: 20px;
  }
  @include screen(p, 6) {
    background-color: blue;
    font-size: 20px;
  }
  @include screen(p, 7) {
    background-color: indigo;
    font-size: 20px;
  }
*/
}

body {
  background-color: silver;
  font-family: 'Rajdhani', cursive;
  line-height: 120%;
  word-wrap: break-word;
  overflow: auto;
  text-align: center;
}

h1 {
  font-size: 3.6rem;
  margin-top: 0.72rem;
  margin-bottom: 0.72rem;
}

h2 {
  font-size: 3rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

h3 {
  font-size: 2.4rem;
  margin-top: 0.48rem;
  margin-bottom: 0.48rem;

}

h4 {
  font-size: 1.8rem;
  margin-top: 0.36rem;
  margin-bottom: 0.36rem;
}

h5 {
  font-size: 1.4rem;
  margin-top: 0.28rem;
  margin-bottom: 0.28rem;
}

h6 {
  font-size: 1.2rem;
  margin-top: 0.24rem;
  margin-bottom: 0.24rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 110%;
}

p {
  font-size: 1rem;
}

pre {
  overflow: auto;
}

a {
  text-decoration: none;
  color: black;
  &:visited {
    color: black;
  }
  &:hover {
    color: red;
  }
}

.readability {
  @include screen(l, 1) {
    width: 100%;
  }
  @include screen(l, 4) {
    width: 75%;
  }
  @include screen(l, 6) {
    width: 50%;
  }
  @include screen(p, 1) {
    width: 100%;
  }
}

hr {
  border: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 1rem;
  background: black;
}

.apps-header hr {
  @extend .readability;
}

.apps-content hr {
  height: 0.5rem;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

table, thead, tr, th, td, tfoot, fieldset, input, textarea {
  border: 0.1rem solid black
}

thead, th {
  border-bottom-width: 0.2rem;
}

.apps-list {
  @extend .readability;
  margin: 0 auto;
}

.apps-content {
  @extend .apps-list;
  background-color: lightgray;
  text-align: left;
  overflow: auto;
  > * {
    margin: 1rem 2rem 1rem 2rem;
  }
  * {
    max-width: 100%
  }
}

.apps-header {
  color: black;
  .apps-header-title {
    font-size: 2.5rem;
  }
}

.apps-app-item {
  display: inline-block;
  width: 8rem;
  vertical-align: top;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.apps-app-icon {
  display: inline-block;
  border: 0.5rem solid white;
  border-radius: 1.5rem;
  width: 8rem;
  height: 8rem;
  padding-bottom: 0;
  overflow: hidden;
  background-color: lightgray;
  img {
    width: 8rem;
    height: 8rem;
  }
}

.apps-app-name {
//  padding-top: 1rem;
}

.apps-menu {
}

.apps-menu-item {
  @include screen(l, 1) {
    display: block;
  }
  @include screen(l, 4) {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  @include screen(p, 1) {
    display: block;
  }
}

.apps-submenu {
}

.apps-submenu-item {
  @include screen(l, 1) {
    display: block;
  }
  @include screen(l, 4) {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  @include screen(p, 1) {
    display: block;
  }
}
