@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@media (min-width: 0px) and (orientation: landscape) { html { background-color: black; font-size: 10px; } }

@media (min-width: 320px) and (orientation: landscape) { html { background-color: red; font-size: 20px; } }

@media (min-width: 480px) and (orientation: landscape) { html { background-color: orange; font-size: 20px; } }

@media (min-width: 600px) and (orientation: landscape) { html { background-color: yellow; font-size: 15px; } }

@media (min-width: 801px) and (orientation: landscape) { html { background-color: green; font-size: 20px; } }

@media (min-width: 1025px) and (orientation: landscape) { html { background-color: blue; font-size: 15px; } }

@media (min-width: 1281px) and (orientation: landscape) { html { background-color: indigo; font-size: 10px; } }

@media (min-width: 0px) and (orientation: portrait) { html { background-color: black; font-size: 10px; } }

@media (min-width: 320px) and (orientation: portrait) { html { background-color: red; font-size: 20px; } }

@media (min-width: 480px) and (orientation: portrait) { html { background-color: orange; font-size: 20px; } }

@media (min-width: 600px) and (orientation: portrait) { html { background-color: yellow; font-size: 15px; } }

@media (min-width: 801px) and (orientation: portrait) { html { background-color: green; font-size: 30px; } }

@media (min-width: 1025px) and (orientation: portrait) { html { background-color: blue; font-size: 15px; } }

@media (min-width: 1281px) and (orientation: portrait) { html { background-color: indigo; font-size: 10px; } }

body { background-color: silver; font-family: 'Press Start 2P', cursive; line-height: 2rem; text-align: center; word-wrap: break-word; }

a { text-decoration: none; color: black; }

a:visited { color: black; }

a:hover { color: red; }

hr { border: 0; margin-top: 1rem; margin-bottom: 1rem; height: 1rem; background: black; }

@media (min-width: 0px) { hr { width: 100%; } }

@media (min-width: 320px) { hr { width: 100%; } }

@media (min-width: 480px) { hr { width: 100%; } }

@media (min-width: 600px) { hr { width: 75%; } }

@media (min-width: 801px) { hr { width: 75%; } }

@media (min-width: 1025px) { hr { width: 50%; } }

@media (min-width: 1281px) { hr { width: 50%; } }

table { border-collapse: collapse; table-layout: fixed; }

table, thead, tr, th, td, tfoot, fieldset, input, textarea { border: 0.2rem solid black; }

thead, th { border-bottom-width: 0.4rem; }

.apps-list, .apps-content { margin: 0 auto; }

@media (min-width: 0px) { .apps-list, .apps-content { width: 100%; } }

@media (min-width: 320px) { .apps-list, .apps-content { width: 100%; } }

@media (min-width: 480px) { .apps-list, .apps-content { width: 100%; } }

@media (min-width: 600px) { .apps-list, .apps-content { width: 75%; } }

@media (min-width: 801px) { .apps-list, .apps-content { width: 75%; } }

@media (min-width: 1025px) { .apps-list, .apps-content { width: 50%; } }

@media (min-width: 1281px) { .apps-list, .apps-content { width: 50%; } }

.apps-content { background-color: lightgray; }

.apps-header { color: black; }

.apps-header .apps-header-title { font-size: 2.5rem; }

.apps-app-item { display: inline-block; width: 8rem; vertical-align: top; margin-right: 1.5rem; }

.apps-app-icon { display: inline-block; border: 0.5rem solid white; border-radius: 1.5rem; width: 8rem; height: 8rem; padding-bottom: 0; overflow: hidden; }

.apps-app-icon img { width: 8rem; height: 8rem; }

.apps-app-name { padding-top: 1rem; }
