{{ define "main" }}
  {{ range .Pages }}
    <div style="display: inline-block; width: 10rem; vertical-align: top; margin-right: 1.5rem">
      <div style="display: inline-block; border: 0.5rem solid silver; border-radius: 1.5rem; width:100%; height: 100%">
        <a href="{{ .URL }}" style="text-decoration: none;">
          <img src="{{ .Params.img }}" style="width: 100%; height: 10rem"/>
        </a>
      </div>
      <div style="text-align: center; padding-top: 1rem">
        <a href="{{ .URL }}" style="font-size: 1.2rem">
          {{ .Title }}
        </a>
      </div>
    </div>
  {{ end }}
{{ end }}
